Questões de diferentes perspectivas podem surgir como:

A quantidade de empréstimos está aumentando ou diminuindo ao decorrer dos últimos anos?

Em quais bibliotecas do sistema estão a maior quantidade de empréstimos?

Quais são os temas mais emprestados? E os menos?

In [1]:
# Importação

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Lendo os dataframes 2010-2020.1

df_2010_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20101.csv')
df_2010_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20102.csv')

df_2011_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20111.csv')
df_2011_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20111.csv')

df_2012_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20121.csv')
df_2012_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20122.csv')

df_2013_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20131.csv')
df_2013_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20132.csv')

df_2014_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20141.csv')
df_2014_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20142.csv')

df_2015_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20151.csv')
df_2015_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20152.csv')

df_2016_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20161.csv')
df_2016_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20162.csv')

df_2017_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20171.csv')
df_2017_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20172.csv')

df_2018_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20181.csv')
df_2018_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20182.csv')

df_2019_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20191.csv')
df_2019_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20192.csv')

df_2020_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20201.csv')

In [3]:
# Concatenando todos os dataframes em um

df_concat = pd.concat([
    df_2010_1, df_2010_2,
    df_2011_1, df_2011_2,
    df_2012_1, df_2012_2,
    df_2013_1, df_2013_2,
    df_2014_1, df_2014_2,
    df_2015_1, df_2015_2,
    df_2016_1, df_2016_2,
    df_2017_1, df_2017_2,
    df_2018_1, df_2018_2,
    df_2019_1, df_2019_2,
    df_2020_1
], ignore_index=True)

# Mostrando alguns registros da concatenação
df_concat.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO

In [4]:
# Mostrando os tipos dos dados da base de dados
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2245752 entries, 0 to 2245751
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
dtypes: float64(1), int64(1), object(5)
memory usage: 119.9+ MB

In [5]:
# Mostrando o tamanho da base de dados (linhas e colunas)
df_concat.shape

(2245752, 7)

In [6]:
# Mostrando as colunas da base de dados
df_concat.columns

Index(['id_emprestimo', 'codigo_barras', 'data_renovacao', 'data_emprestimo',
       'data_devolucao', 'matricula_ou_siape', 'tipo_vinculo_usuario'],
      dtype='object')

In [7]:
# Verificando o tipo de dado de cada coluna
df_concat.dtypes

id_emprestimo             int64
codigo_barras            object
data_renovacao           object
data_emprestimo          object
data_devolucao           object
matricula_ou_siape      float64
tipo_vinculo_usuario     object
dtype: object

In [8]:
# Verificando se há registros nulos
df_concat.isnull().sum()

id_emprestimo                 0
codigo_barras                 0
data_renovacao          1281225
data_emprestimo               0
data_devolucao             6471
matricula_ou_siape         3253
tipo_vinculo_usuario          0
dtype: int64

In [ ]:
# Verificando se há duplicatas
df_concat.value_counts()

In [9]:
# Resumo estatístico da base de dados com dados categoricos
df_concat.describe(include='object')

,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,tipo_vinculo_usuario
count,2245752,964527,2245752,2239281,2245752
unique,272379,914340,2137092,2110199,8
top,2010091988,2010/11/03 00:00:00.000000000,2010/01/04 09:58:46.549000000,2012/07/02 12:35:12.024000000,ALUNO DE GRADUAÇÃO
freq,196,30,7,12,1758999

In [10]:
# Lendo o arquivo que contém os exemplares
df_exemplares = pd.read_parquet('../data/raw/dados_exemplares.parquet')

# Mostrando alguns registros dos exemplares
df_exemplares.head()

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15

In [11]:
# Mostrando os tipos dos dados dos exemplares
df_exemplares.info()

<class 'pandas.core.frame.DataFrame'>
Index: 546237 entries, 0 to 568584
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id_exemplar       546237 non-null  int64
 1   codigo_barras     546237 non-null  object
 2   colecao           546237 non-null  object
 3   biblioteca        546237 non-null  object
 4   status_material   546237 non-null  object
 5   localizacao       546237 non-null  int64
 6   registro_sistema  546237 non-null  int64
dtypes: int64(3), object(4)
memory usage: 33.3+ MB

In [12]:
# Tamanho do dataframe exemplares
df_exemplares.shape

(546237, 7)

In [13]:
# Mostrando as colunas do dataframe exemplares
df_exemplares.columns

Index(['id_exemplar', 'codigo_barras', 'colecao', 'biblioteca',
       'status_material', 'localizacao', 'registro_sistema'],
      dtype='object')

In [14]:
# Verificando o tipo de dado de cada coluna do dataframe exemplares
df_exemplares.dtypes

id_exemplar          int64
codigo_barras       object
colecao             object
biblioteca          object
status_material     object
localizacao          int64
registro_sistema     int64
dtype: object

In [15]:
# Verificando se há registros nulos no dataframe exemplares
df_exemplares.isnull().sum()

id_exemplar         0
codigo_barras       0
colecao             0
biblioteca          0
status_material     0
localizacao         0
registro_sistema    0
dtype: int64

In [16]:
# Resumo estatístico do dataframe exemplares com dados categoricos
df_exemplares.describe(include='object')

,codigo_barras,colecao,biblioteca,status_material
count,546237,546237,546237,546237
unique,545049,18,25,3
top,2009008345,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR
freq,5,469375,278788,383389

In [17]:
df = df_concat.merge(df_exemplares)

df.to_csv('../data/interim/emprestimos_exemplares.csv', index=False)