Questões de diferentes perspectivas podem surgir como:

A quantidade de empréstimos está aumentando ou diminuindo ao decorrer dos últimos anos?

Em quais bibliotecas do sistema estão a maior quantidade de empréstimos?

Quais são os temas mais emprestados? E os menos?

In [2]:
# Importação

import pandas as pd

In [3]:
# Lendo os dataframes 2010-2020.1

df_2010_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20101.csv')
df_2010_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20102.csv')

df_2011_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20111.csv')
df_2011_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20112.csv')

df_2012_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20121.csv')
df_2012_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20122.csv')

df_2013_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20131.csv')
df_2013_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20131.csv')

df_2014_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20141.csv')
df_2014_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20142.csv')

df_2015_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20151.csv')
df_2015_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20152.csv')

df_2016_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20161.csv')
df_2016_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20162.csv')

df_2017_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20171.csv')
df_2017_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20172.csv')

df_2018_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20181.csv')
df_2018_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20182.csv')

df_2019_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20191.csv')
df_2019_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20192.csv')

df_2020_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20201.csv')
df_2020_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20202.csv')

df_2021_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20211.csv')
df_2021_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20212.csv')

df_2022_1 = pd.read_csv('../data/raw/emprestimos/emprestimos-20221.csv')
df_2022_2 = pd.read_csv('../data/raw/emprestimos/emprestimos-20222.csv')

In [ ]:
df_2022_1.shape

In [ ]:
df_2022_1[df_2022_1['nome_usuario'].isnull()]

In [ ]:
df_2022_1['nome_usuario'].unique()

In [4]:
# Concatenando todos os dataframes em um

df_concat = pd.concat([
    df_2010_1, df_2010_2,
    df_2011_1, df_2011_2,
    df_2012_1, df_2012_2,
    df_2013_1, df_2013_2,
    df_2014_1, df_2014_2,
    df_2015_1, df_2015_2,
    df_2016_1, df_2016_2,
    df_2017_1, df_2017_2,
    df_2018_1, df_2018_2,
    df_2019_1, df_2019_2,
    df_2020_1, df_2020_2,
    df_2021_1, df_2021_2,
    df_2022_1, df_2022_2
], ignore_index=True)

In [6]:
# Mostrando alguns registros da concatenação
df_concat.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,nome_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,NaN
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,NaN
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,NaN
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,NaN
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,NaN

In [ ]:
df_concat.tail()

In [7]:
# Mostrando os tipos dos dados da base de dados
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2346186 entries, 0 to 2346185
Data columns (total 8 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
 7   nome_usuario          object
dtypes: float64(1), int64(1), object(6)
memory usage: 143.2+ MB

In [5]:
# Mostrando o tamanho da base de dados (linhas e colunas)
df_concat.shape

(2346186, 8)

In [ ]:
# Mostrando as colunas da base de dados
df_concat.columns

In [ ]:
# Verificando o tipo de dado de cada coluna
df_concat.dtypes

In [ ]:
# Verificando se há registros nulos
df_concat.isnull().sum()

In [ ]:
# Verificando se há duplicatas
df_concat.value_counts()

In [ ]:
# Resumo estatístico da base de dados com dados categoricos
df_concat.describe(include='object')

In [8]:
df_concat.to_csv('../data/interim/emprestimos-concat.csv', index=False)

In [ ]:
# Lendo o arquivo que contém os exemplares
df_exemplares = pd.read_parquet('../data/raw/dados_exemplares.parquet')

# Mostrando alguns registros dos exemplares
df_exemplares.head()

In [ ]:
# Mostrando os tipos dos dados dos exemplares
df_exemplares.info()

In [ ]:
# Tamanho do dataframe exemplares
df_exemplares.shape

In [ ]:
# Mostrando as colunas do dataframe exemplares
df_exemplares.columns

In [ ]:
# Verificando o tipo de dado de cada coluna do dataframe exemplares
df_exemplares.dtypes

In [ ]:
# Verificando se há registros nulos no dataframe exemplares
df_exemplares.isnull().sum()

In [ ]:
# Resumo estatístico do dataframe exemplares com dados categoricos
df_exemplares.describe(include='object')